#pokedex{
    gap: 16px;
    padding: 32px;
}

header{
    background-color: rgb(60 60 60);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 8px;
}

header h1{
    font-size: 24px;
}

header img{
    height: 48px;
}

body{
    overflow-x: hidden;
    background-image: url(./img/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.modal-background-container{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: white;
    width: 350px;
    height: 550px;
    padding: 16px;
    border-radius: 15px;
}

.singlePokemonCard{
    background-image: url('./img/pokemon-dark.jpg');
    -webkit-box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 11px 0px rgba(0,0,0,0.75);
    border-radius: 16px;
    padding: 16px;
    width: 350px;
    height:250px;
  }
  
  .singlePokemonCardHeader{
    color: white;
    text-transform: capitalize;
  }
  
  .singlePokemonCardDataContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .singlePokemonCardDataContainerType{
    width: 50%;
  }
  
  .singlePokemonCardDataContainerType div span{
    background-color: rgba(255,255,255,0.2);
    padding: 8px;
    border-radius: 15px;
    color:white;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-bottom: 8px;
  }
  
  .singlePokemonCardDataContainerImage{
    width: 50%;
  }
  
  .singlePokemonCardDataContainerImage img{
    width: 100%;
    object-fit: contain;
  }